.button{
  width: 150px;
  height: 50px;
  border: 4px solid black;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  box-shadow: 3px 3px 6px 1px #000000;
  margin: 5px 0;
}

.button:active{
  box-shadow: none;
  background-color: lightgray;
}